<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>
    <style>
        .active{
            background-color: #D1CED2; 
        }
    </style>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">        
                <ul class="nav navbar-nav navbar-right">
                    <!-- <button type="submit" class="btn btn-default" style="color:red;">YES </button> -->
                    <!-- <button type="submit" class="btn btn-default" style="color:red;">NO </button> -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team member <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="clickableNav teamMember">Beena</a></li>
                        <li><a class="clickableNav teamMember">Brittany</a></li>
                        <li><a class="clickableNav teamMember">Crawford</a></li>
                        <li><a class="clickableNav teamMember">Eno</a></li>
                        <!-- <li role="separator" class="divider"></li> -->
                        <li><a class="clickableNav teamMember">Jedidiah</a></li>
                        <li><a class="clickableNav teamMember">Paloma</a></li>
                        <li><a class="clickableNav teamMember">Rachel</a></li>
                        <!-- <li role="separator" class="divider"></li> -->
                        <li><a class="clickableNav teamMember">Ryan</a></li>
                        <li><a class="clickableNav teamMember">Zuleyka</a></li>
                        <li><a class="clickableNav teamMember">Other</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Store <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="clickableNavStore storeSite">Abercrombie and Fitch</a></li>
                        <li><a class="clickableNavStore storeSite">Aldo</a></li>
                        <li><a class="clickableNavStore storeSite">American Eagle</a></li>
                        <li><a class="clickableNavStore storeSite">Bath and Body Works</a></li>
                        <li><a class="clickableNavStore storeSite">Bed Bath and Beyond/ Harmon</a></li>
                        <li><a class="clickableNavStore storeSite">Beyond Vape</a></li>
                        <li><a class="clickableNavStore storeSite">Burlington Coat Factory</a></li>
                        <li><a class="clickableNavStore storeSite">Dicks</a></li>
                        <li><a class="clickableNavStore storeSite">Dollar Tree</a></li>
                        <li><a class="clickableNavStore storeSite">Dutch Express</a></li>
                        <li><a class="clickableNavStore storeSite">Express</a></li>
                        <li><a class="clickableNavStore storeSite">Footlocker</a></li>
                        <li><a class="clickableNavStore storeSite">Forever 21</a></li>
                        <li><a class="clickableNavStore storeSite">Gamestop</a></li>
                        <li><a class="clickableNavStore storeSite">Gap</a></li>
                        <li><a class="clickableNavStore storeSite">Homegoods</a></li>
                        <li><a class="clickableNavStore storeSite">JC Penney</a></li>
                        <li><a class="clickableNavStore storeSite">Kmart</a></li>
                        <li><a class="clickableNavStore storeSite">LUSH</a></li>
                        <li><a class="clickableNavStore storeSite">Mango</a></li>
                        <li><a class="clickableNavStore storeSite">Marshalls</a></li>
                        <li><a class="clickableNavStore storeSite">Michael's</a></li>
                        <li><a class="clickableNavStore storeSite">Old Navy</a></li>
                        <li><a class="clickableNavStore storeSite">Payless</a></li>
                        <li><a class="clickableNavStore storeSite">Sears</a></li>
                        <li><a class="clickableNavStore storeSite">Sephora</a></li>
                        <li><a class="clickableNavStore storeSite">Target</a></li>
                        <li><a class="clickableNavStore storeSite">TJ Maxx</a></li>
                        <li><a class="clickableNavStore storeSite">TopShop</a></li>
                        <li><a class="clickableNavStore storeSite">Uniqlo</a></li>
                        <li><a class="clickableNavStore storeSite">Urban Outfitters</a></li>
                        <li><a class="clickableNavStore storeSite">Victoria's Secret</a></li>
                      </ul>
                    </li>                    
                </ul>
                <h5><span>Selected: </span>
                <span class="teamMemberDisplay"></span>
                <span> / </span>
                <span class="storeSiteDisplay"></span></h5>
                <form class="navbar-form navbar-left mainSend" role="search">
                  <div class="form-group">
                    <textarea rows="5" type="text" class="form-control comment" placeholder="Comments"></textarea> 
                  </div>
                  <button type="submit" class="btn btn-default submitIt">Submit It</button>

                </form>                        
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content" id="startup">
            <div class="header-content-inner">
                
                <!--   <span class="colorbar" id="cb1"></span>
                <span class="colorbar" id="cb2"></span>
                <span class="colorbar" id="cb3"></span>
                <span class="colorbar" id="cb4"></span> -->
            
                <!-- <img src="img/portfolio/2.jpg" class="img-responsive" alt=""> -->
                <div style="height:150px;"></div>
                <h1 style="
                    /*text-shadow: 0px 2px 22px #4FC1E9;*/
                    /*color: #D1CED2;*/
                    /*font-family: 'Teko', sans-serif;*/

                    /*font-family: Arial, Arial, Helvetica, sans-serif;*/
                    /*font-stretch: ultra-condensed;*/">
                    RAP SURVEY
                </h1>
                <hr>
                <p></p>
                <a href="#quest1" class="btn btn-primary btn-xl page-scroll">LET'S START!</a>
                
                <!-- adding a div here that creates little space to fill out the section! -->
                <div style="height:150px;"></div>

            </div>
        </div>
    </header>

    <section class="bg-primary" id="quest1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">JOB TITLE?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a class="list-group-item clickable jobTitleSa">SALES ASSOCIATE</a>
                        <a class="list-group-item clickable jobTitleAm">ASSISTANT MANAGER</a>
                        <a class="list-group-item clickable jobTitleRc">RECEIVING</a>
                        <a class="list-group-item clickable jobTitleMa">MANAGER</a>
                        <a class="list-group-item clickable jobTitleVd">VISUAL / DISPLAY</a>
                        <a class="list-group-item clickable jobTitleOt">OTHER</a>
                    </div>
                    <a href="#quest2" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue" id='quest2'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">FULL-TIME OR PART-TIME?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a class="list-group-item clickable ft">FULL-TIME</a>

                        <a data-toggle="collapse" data-target="#ptft"  class="list-group-item clickable pt">PART-TIME
                        </a>
                        <div id="ptft" class="collapse">
                            <br>
                            WOULD YOU PREFER FULL-TIME?
                            <div class="list-group">
                                <a class="list-group-item clickable preferFtY">YES</a>
                                <a class="list-group-item clickable preferFtN">NO</a>
                            </div>
                        </div>
                    </div>
                    <a href="#quest3" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
    </section>

    <section class="bg-dark" id="quest3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">SATISFIED WITH YOUR PAY?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a class="list-group-item clickable satisfiedPayY">YES</a>

                        <a data-toggle="collapse" data-target="#pay"  class="list-group-item clickable satisfiedPayN">NO</a>
                        <div id="pay" class="collapse">
                            <br>
                            STARTING HOURLY PAY FOR YOUR POSITION:
                            <div class='form-group '>
                            <div class="input-group">
                              <span class="input-group-addon input-lg">$</span>
                              <input type="text" class="form-control payAmount input-lg payAmount">
                              <!-- <aria-label="Amount (to the nearest dollar)"> -->
                              <!-- <span class="input-group-addon">.00</span> -->
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- <br> -->
                    <a href="#quest4" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id='quest4'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">DO YOU GET ANY BENEFITS LISTED?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a class="list-group-item clickable benefitsFk">401K</a>
                        <a class="list-group-item clickable benefitsHi">HEALTH INSURANCE</a>
                        <a class="list-group-item clickable benefitsCr">COMMUTER REIMBURSEMENT</a>
                        <a class="list-group-item clickable benefitsEd">EMPLOYEE DISCOUNT</a>
                        <a class="list-group-item clickable benefitsOt">OTHER</a>
                    </div>
                    <a href="#quest5" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
    </section>

    <section class="bg-blue" id="quest5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">IS SCHEDULING A PROBLEM AT YOUR JOB?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a data-toggle="collapse" data-target="#scheduleprob"  class="list-group-item clickable schedulingY">YES
                        </a>
                        <div id="scheduleprob" class="collapse">
                            <br>
                            WHY?
                            <div class="list-group">
                                <a class="list-group-item clickable schedulingOc">ON-CALL SHIFTS</a>
                                <a class="list-group-item clickable schedulingNh">NOT ENOUGH HOURS</a>
                                <a class="list-group-item clickable schedulingCl">"CLOPENS"</a>
                                <a class="list-group-item clickable schedulingNn">NOT ENOUGH NOTICE</a>
                                <a class="list-group-item clickable schedulingOt">OTHER</a>
                            </div>
                        </div>
                        <a class="list-group-item clickable schedulingN">NO</a>
                    </div>
                    <a href="#quest6" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark" id='quest6'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">DO YOU HAVE ROOM TO MOVE UP OR ADVANCE?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a data-toggle="collapse" data-target="#moveup"  class="list-group-item clickable canAdvanceY">YES</a>
                        <div id="moveup" class="collapse">
                            <br>
                            TO WHICH POSITIONS?
                            <div class="list-group">
                                <a class="list-group-item clickable openPositionsSa">SALES ASSOCIATE</a>
                                <a class="list-group-item clickable openPositionsAm">ASSISTANT MANAGER</a>
                                <a class="list-group-item clickable openPositionsRs">RECEIVING/STOCK</a>
                                <a class="list-group-item clickable openPositionsCs">CUSTOMER SERVICE</a>
                                <a class="list-group-item clickable openPositionsMa">MANAGER</a>
                                <a class="list-group-item clickable openPositionsVd">VISUAL / DISPLAY</a>
                                <a class="list-group-item clickable openPositionsOt">OTHER</a>
                            </div>
                        </div>
                        <a class="list-group-item clickable canAdvanceN">NO</a>
                    </div>

                    <!-- <br> -->
                    <a href="#quest7" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
    </section>

    <section class="bg-primary" id="quest7">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">EVER FELT OR WITNESSED DISCRIMINATION AT WORK?</h2>
                    <hr class="light">
                    <div class="list-group">
                        <a class="list-group-item clickable discriminationY">YES</a>
                        <a class="list-group-item clickable discriminationN">NO</a>
                        <a class="list-group-item clickable discriminationNs">NOT SURE</a>
                    </div>
                    <a href="#quest8" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue" id='quest8'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">FROM YOUR PERSPECTIVE WHAT IS THE TOP ISSUE YOU DEAL WITH AT WORK?</h2>
                    <hr class="light">
                    <div class="form-group">
                      <!-- <label for="comment">Comment:</label> -->
                      <textarea class="form-control workIssue" rows="5" id="comment"></textarea>
                    </div>
                    <a href="#quest9" class="btn btn-default btn-xl page-scroll">NEXT</a>
                </div>
            </div>
    </section>

    <section class="bg-dark" id='quest9'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ALMOST DONE!</h2>
                    <hr class="light">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg workerName" placeholder="Name"></textarea> 
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg workerContact" placeholder="Phone"></textarea> 
                    </div>
                    <a href="#quest10" class="btn btn-default btn-xl page-scroll">NEXT</a>
                    <div style="height:100px;"></div>
                </div>
            </div>
    </section>

<!--     <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->

    <section class="bg-primary" id="quest10">
        <div class="container text-center">

            <div class="call-to-action">
                <h2>THANK YOU FOR TAKING THE SURVEY!</h2>
                <a href="#startup" class="btn btn-default btn-xl wow tada page-scroll">FINISHED!</a>
            </div>
        </div>
    </section>



<!--     <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/interactionCrawford.js"></script>
</body>

</html>
