<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi {{ name }}</h1>
    <p>Welcome to {{ city }}</p>
    <p>{{id}}</p>
    <p>Is your favorite movie still {{favMovie}}?</p>
  </body>
</html>
